<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stream Talk</title>
    <link rel="icon" href="/static/images/chat-icon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}" media="screen">
</head>
<body>
    
    {% block content %}

    {% endblock content %}
</body>
</html>